body{
  background-color: #5592f4
}
h1{
  border: 1px solid black;
}
h2{
  color: purple;
  border: 2px;
  border-color: green;
  border-style: double;
}
input{
  border: 2px solid red;;
}
div p:hover{
background-color: yellow;
}
div summary{
  background-color: pink;
}
.itemone{
  text-decoration: overline;
  color: purple;
}
#textblock{
    width: 200px;
    height: 40px;
    border: 5px solid gray;
}
.submt{
  border-radius: 4px;
  background-color: yellow;
}
a:hover{
  color: white;
}
