h1{
  text-align: center;
  font-family: 'Suwannaphum', cursive;
}

td{
  background-color: black;
  height: 600px;
  width:200px;
}
.art{
  margin: auto;
}
#one{
  background-color: #00C0F3;
}
#two{
  background-color: #6EEB83;
}
#three{
  background-color: #E4FF1A;
}
#four{
  background-color: #FFB800;
}
#five{
  background-color: #FF5714;
}
#six{
  background-color: #325FA2;
}
